.event-creator-main{

/* overflow-y: scroll; */
    box-sizing: border-box;

 width: 100%;
}

.event-creator-inputs-main{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.event-creator-inputs input {
    border-radius: 0.75rem;
    background-color: transparent;
    border: 1px solid grey;
    /* padding: 0.75rem 1rem; */
    width: 50%;
    padding: 0.25rem 0.5rem;
}
 input:focus{
    outline: 0;
}
.event-creator-inputs p{
    margin: 0;
}
